[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/librdr3"]
	path = lib/librdr3
	url = https://github.com/Sage-of-Mirrors/librdr3.git
[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "lib/imguizmo"]
	path = lib/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy.git
